-
	const Filters = {
		data: {
			formAction: isDev ? "/catalog" : "./public/fake-api/catalogFilter.json"
		},
		elem: {
			Switch: {
				data: {
					text: 'Товары по акции',
					name: 'promotion',
					value: '1'
				},
				cn: {
					margin: 'mb-20'
				},
				opt: {
					checked: false
				}
			},
			FilterRange: {
				data: {
					text: 'Цена',
					textRange: 'Диапазон цен'
				},
			},
			FilterSelectMark: {
				data: {
					text: 'Торговая марка',
					dataFilterName: 'Торговая марка',
				},
				elem: {
					Input: {
						data: {
							type: 'text',
							validationType: 'text',
						},
						elem: {
							TextLabel: {
								data: {
									tag: 'span',
									text: 'Подсказка',
								},
								cn: {
									color: 'gray',
								}
							},
							TextError: {
								data: {
									tag: 'span',
									text: 'Неправильный код партнёра',
								},
								cn: {
									size: 'caption',
									color: 'red',
								}
							},
						},
						opt: {
							disabled: false
						},
						cn: {
							color: 'inversion',
							margin: 'mb-24'
						}
					},
					CheckboxArr: [
						{
							data: {
								name: 'mark[]',
								value: 'aro',
								dataJsValue: 'ARO',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'ARO',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'ecomilk',
								dataJsValue: 'Ecomilk.Solo',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Ecomilk.Solo',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'g-balance',
								dataJsValue: 'G-Balance',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'G-Balance',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: true,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'grand-cocktail',
								dataJsValue: 'Grand Cocktail',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Grand Cocktail',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: true,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'metro',
								dataJsValue: 'METRO Chef',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'METRO Chef',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: true,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'parmalat',
								dataJsValue: 'Parmalat',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Parmalat',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'rioba',
								dataJsValue: 'Rioba',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Rioba',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'viola',
								dataJsValue: 'Viola',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Viola',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'agusha',
								dataJsValue: 'Агуша',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Агуша',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'without-brand',
								dataJsValue: 'Без бренда',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Без бренда',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'belii-gorod',
								dataJsValue: 'Белый Город',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Белый Город',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'bmk',
								dataJsValue: 'БМК',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'БМК',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'cheburashki',
								dataJsValue: 'Братья Чебурашкины',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Братья Чебурашкины',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'vkusnoteevo',
								dataJsValue: 'Вкуснотеево',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Вкуснотеево',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'dar-gor',
								dataJsValue: 'Дар Гор',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Дар Гор',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'mark[]',
								value: 'domik-v-derevne',
								dataJsValue: 'Домик в Деревне',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Домик в Деревне',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
					],
					ButtonShowMore: {
						data: {
							text: 'Показать еще'
						},
						cn: {
							buttonStyle: 'mobile-gray',
						}
					}
				}
			},
			FilterSelectCountry: {
				data: {
					text: 'Страна происхождения',
					dataFilterName: 'Страна происхождения',
				},
				elem: {
					Input: {
						data: {
							type: 'text',
							validationType: 'text',
						},
						elem: {
							TextLabel: {
								data: {
									tag: 'span',
									text: 'Подсказка',
								},
								cn: {
									color: 'gray',
								}
							},
							TextError: {
								data: {
									tag: 'span',
									text: 'Неправильный код партнёра',
								},
								cn: {
									size: 'caption',
									color: 'red',
								}
							},
						},
						opt: {
							disabled: false
						},
						cn: {
							color: 'inversion',
							margin: 'mb-24'
						}
					},
					CheckboxArr: [
						{
							data: {
								name: 'country[]',
								value: 'rus',
								dataJsValue: 'Россия',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Россия',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: true,
								disabled: false,
							},
						},
						{
							data: {
								name: 'country[]',
								value: 'belarus',
								dataJsValue: 'Беларусь',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Беларусь',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: true,
								disabled: false,
							},
						},
						{
							data: {
								name: 'country[]',
								value: 'germany',
								dataJsValue: 'Германия',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Германия',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'country[]',
								value: 'netherlands',
								dataJsValue: 'Нидерланды',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Нидерланды',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'country[]',
								value: 'usa',
								dataJsValue: 'США',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'США',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						}
					],
					ButtonShowMore: {
						data: {
							text: 'Показать еще'
						},
						cn: {
							buttonStyle: 'mobile-gray',
						}
					}
				}
			},
			FilterSelectWeight: {
				data: {
					text: 'Вес',
					dataFilterName: 'Вес',
				},
				elem: {
					Input: {
						data: {
							type: 'text',
							validationType: 'text',
						},
						elem: {
							TextLabel: {
								data: {
									tag: 'span',
									text: 'Подсказка',
								},
								cn: {
									color: 'gray',
								}
							},
							TextError: {
								data: {
									tag: 'span',
									text: 'Неправильный код партнёра',
								},
								cn: {
									size: 'caption',
									color: 'red',
								}
							},
						},
						opt: {
							disabled: false
						},
						cn: {
							color: 'inversion',
							margin: 'mb-24'
						}
					},
					CheckboxArr: [
						{
							data: {
								value: 'gr-400',
								name: 'weight[]',
								dataJsValue: '400гр',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: '400гр',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'weight[]',
								value: 'gr-800',
								dataJsValue: '800гр',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: '800гр',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'weight[]',
								value: 'kg-1',
								dataJsValue: '1кг',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: '1кг',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
					],
					ButtonShowMore: {
						data: {
							text: 'Показать еще'
						},
						cn: {
							buttonStyle: 'mobile-gray',
						}
					}
				}
			},
			FilterSelectCooking: {
				data: {
					text: 'Способ приготовления',
					dataFilterName: 'Способ приготовления',
				},
				elem: {
					Input: {
						data: {
							type: 'text',
							validationType: 'text',
						},
						elem: {
							TextLabel: {
								data: {
									tag: 'span',
									text: 'Подсказка',
								},
								cn: {
									color: 'gray',
								}
							},
							TextError: {
								data: {
									tag: 'span',
									text: 'Неправильный код партнёра',
								},
								cn: {
									size: 'caption',
									color: 'red',
								}
							},
						},
						opt: {
							disabled: false
						},
						cn: {
							color: 'inversion',
							margin: 'mb-24'
						}
					},
					CheckboxArr: [
						{
							data: {
								name: 'cooking[]',
								value: 'fast',
								dataJsValue: 'Быстрый',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Быстрый',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'cooking[]',
								value: 'slow',
								dataJsValue: 'Продолжительный',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Продолжительный',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
					],
					ButtonShowMore: {
						data: {
							text: 'Показать еще'
						},
						cn: {
							buttonStyle: 'mobile-gray',
						}
					}
				}
			},
			FilterSelectComposition: {
				data: {
					text: 'Особенность состава',
					dataFilterName: 'Особенность состава',
				},
				elem: {
					Input: {
						data: {
							type: 'text',
							validationType: 'text',
						},
						elem: {
							TextLabel: {
								data: {
									tag: 'span',
									text: 'Подсказка',
								},
								cn: {
									color: 'gray',
								}
							},
							TextError: {
								data: {
									tag: 'span',
									text: 'Неправильный код партнёра',
								},
								cn: {
									size: 'caption',
									color: 'red',
								}
							},
						},
						opt: {
							disabled: false
						},
						cn: {
							color: 'inversion',
							margin: 'mb-24'
						}
					},
					CheckboxArr: [
						{
							data: {
								name: 'composition[]',
								value: 'weight-loss',
								dataJsValue: 'Для похудения',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Для похудения',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
						{
							data: {
								name: 'composition[]',
								value: 'vegetarian',
								dataJsValue: 'Для вегетерианцев',
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'Для вегетерианцев',
									},
									cn: {
										size: 'body-m-m',
									}
								}
							},
							opt: {
								checked: false,
								disabled: false,
							},
						},
					],
					ButtonShowMore: {
						data: {
							text: 'Показать еще'
						},
						cn: {
							buttonStyle: 'mobile-gray',
						}
					}
				}
			},
		}
	}
