-
	function classes(cn) {
		const BLOCK = CN('filters');

		return {
			block: BLOCK(),
			elementSortWrapper: BLOCK('sort-wrapper'),
			elementFilterForm: BLOCK('filter-form'),
			elementFilterSelect: BLOCK('filter-select'),
			elementFilterHeader: BLOCK('header'),
			elementFilterSelectBody: BLOCK('filter-select-body'),
			elementFilterSelectList: BLOCK('filter-select-list'),
			elementFilterCloseButton: BLOCK('close-button'),
			elementFilterFooter: BLOCK('footer'),
			elementFilterFooterClearButton: BLOCK('footer-clear-button'),
			elementFilterFooterShowButton: BLOCK('footer-show-button'),
		}
	}
