-
	const Catalog = {
		elem: {
			CatalogItemArr: [
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m'
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'fruits'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'meat'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk0'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk1'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk2'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk3'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk4'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk5'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk6'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk7'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk8'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk9'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk10'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk11'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				},
				{
					data: {
						img: './assets/img/components/item-catalog/item-catalog.jpg',
						imgWebp: './assets/img/components/item-catalog/item-catalog.jpg',
						dataCategory: 'milk12'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-m-m',
							}
						}
					}
				}
			],
			CategoryListArr: [
				{
					data: {
						dataCategoryBlock: 'milk'
					},
					elem: {
						Text: {
							data: {
								text: 'Молочные продукты',
							},
							cn: {
								size: 'body-h1',
								margin: 'mb-32'
							}
						},
						CategoryItemArr: [
							{
								data: {
									title: 'Молоко, сливки',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Кисломолочные продукты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Кефир',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Ряженка',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сметана',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Творог',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Другие кисломолчные продукты',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Молоко, сливки',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Кисломолочные продукты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Кефир',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Ряженка',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сметана',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Творог',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Другие кисломолчные продукты',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Молоко, сливки',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Кисломолочные продукты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Кефир',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Ряженка',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сметана',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Творог',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Другие кисломолчные продукты',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							}
						],
					}
				},
				{
					data: {
						dataCategoryBlock: 'fruits',
					},
					elem: {
						Text: {
							data: {
								text: 'Второй список',
							},
							cn: {
								size: 'body-h1',
								margin: 'mb-32'
							}
						},
						CategoryItemArr: [
							{
								data: {
									title: 'Молоко, сливки',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Кисломолочные продукты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Кефир',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Ряженка',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сметана',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Творог',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Другие кисломолчные продукты',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Кисломолочные продукты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Кефир',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Ряженка',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сметана',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Творог',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Другие кисломолчные продукты',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							}
						],
					}
				},
				{
					data: {
						dataCategoryBlock: 'meat'
					},
					elem: {
						Text: {
							data: {
								text: 'Третий список',
							},
							cn: {
								size: 'body-h1',
								margin: 'mb-32'
							}
						},
						CategoryItemArr: [
							{
								data: {
									title: 'Молоко, сливки',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Кисломолочные продукты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Кефир',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Ряженка',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сметана',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Творог',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Другие кисломолчные продукты',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
							{
								data: {
									title: 'Йогурты, творожки, десерты',
								},
								elem: {
									ItemCategoryArr: [
										{
											data: {
												tag: 'a',
												text: 'Сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Взбитые сливки',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Сухое молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молочные коктейли',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
										{
											data: {
												tag: 'a',
												text: 'Молоко',
												href: '#!'
											},
											cn: {
												color: 'gray',
												size: 'body-l-m'
											}
										},
									]
								}
							},
						],
					}
				}
			]
		}
	}
