-
	function classes(cn) {
		const BLOCK = CN('catalog')

		return {
			block: BLOCK(),
			elementRow: BLOCK('row'),
			elementList: BLOCK('list'),
			elementCatalogItem: BLOCK('catalog-item'),
			elementCategoryList: BLOCK('category-list'),
			elementCategories: BLOCK('categories'),
			elementWrapper: BLOCK('wrapper'),
			elementCatalogContent: BLOCK('catalog-content'),
		}
	}
