mixin Sprite(props)
	//- # ВЕРСТКА КОМПОНЕНТА # -//
	case props
		when 'user'
			include include-svg/user
		when 'heart'
			include include-svg/heart
		when 'box'
			include include-svg/box
		when 'youtube'
			include include-svg/youtube
		when 'telegram'
			include include-svg/telegram
		when 'vk'
			include include-svg/vk
		when 'aic'
			include include-svg/aic
		when 'close'
			include include-svg/close
		when 'location'
			include include-svg/location
		when 'minus'
			include include-svg/minus
		when 'plus'
			include include-svg/plus
		when 'arrow-left'
			include include-svg/arrow-left
		when 'trash'
			include include-svg/trash
		when 'gift'
			include include-svg/gift
		when 'car'
			include include-svg/car
		when 'bag'
			include include-svg/bag
		when 'arrow-right'
			include include-svg/arrow-right
		when 'arrow-down'
			include include-svg/arrow-down
		when 'play'
			include include-svg/play
		when 'check'
			include include-svg/check
		when 'loader'
			include include-svg/loader
		when 'sort'
			include include-svg/sort
		when 'filter'
			include include-svg/filter
		when 'pencil'
			include include-svg/pencil
		when 'logo'
			include include-svg/logo
