-
	const FilterItems = {
		includeSection: 'FilterItems',
		cn: {
			// margin: 'mt-48'
		},
		elem: {
			Pagination: {
				elem: {
					PaginationButtonArr: [
						{
							data: {
								href: '/api/catalogPagination/1'
							},
							elem: {
								Text: {
									data: {
										text: '1',
									},
									cn: {
										size: 'body-l-m',
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/2'
							},
							elem: {
								Text: {
									data: {
										text: '2',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/3'
							},
							elem: {
								Text: {
									data: {
										text: '3',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '4',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '5',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '6',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '7',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '8',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
					]
				}
			},
			LoadMoreButton: {
				data: {
					text: 'показать ещё',
					href: '/api/catalog/',
				},
				cn: {
					color: 'secondary',
					width: 'w-60',
					justifyContent: 'justify-content-center'
				}
			},
			BreadCrumbs: {
				elem: {
					Heading: {
						data: {
							text: 'Молоко, сливки',
							tag: 'h2'
						},
						cn: {
							size: 'h2'
						}
					},
				}
			},
			ChipsTagArr: [
				{
					data: {
						text: 'Торговая марка: ARO ',
					}
				},
				{
					data: {
						text: 'Торговая марка: Ecomilk.Solo ',
					}
				},
				{
					data: {
						text: 'Торговая марка: G-Balance ',
					}
				},
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// }, {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// },
				// {
				// 	data: {
				// 		text: 'Торговая марка: G-Balance ',
				// 	}
				// }
			],
			ChipsArr: [
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Сливки'
					}
				},
				{
					data: {
						text: 'Взбитые сливки'
					}
				},
				{
					data: {
						text: 'Сухое молоко'
					}
				},
				{
					data: {
						text: 'Молоко'
					}
				},
				{
					data: {
						text: 'Молочные коктейли'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Сухое молоко'
					}
				},
				{
					data: {
						text: 'Молоко ооооо'
					}
				},
				{
					data: {
						text: 'Молоко'
					}
				},
				{
					data: {
						text: 'Молочные коктейли'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Текст'
					}
				},
				{
					data: {
						text: 'Сухое молоко'
					}
				},
				{
					data: {
						text: 'Молоко ооооо'
					}
				},

			],
			CardProductList: {
				elem: {
					CardProductArr: [
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextOldPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'caption',
												color: 'gray',
												textStriking: 'striking'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img2.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Новинка',
												},
												cn: {
													tag: 'new'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
						{
							data: {
								icon: 'heart',
								img: './assets/img/components/card-product/product-img.png',
							},
							elem: {
								TextName: {
									data: {
										text: 'Горошек Heinz зеленый Нежный',
									},
									cn: {
										size: 'body-m-m'
									}
								},
								TextWeight: {
									data: {
										text: '400г',
									},
									cn: {
										size: 'body-m-m',
										color: 'gray',
										margin: 'mt-8 mt-4@xs'
									}
								},
								TextPrice: {
									data: {
										text: '160 ₽',
									},
									cn: {
										size: 'body-h3'
									}
								},
								Tags: {
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								CardProductCounter: {
									elem: {
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
									}
								}
							},
							opt: {
								withCounter: true,
							}
						},
					]
				}
			},
			SortSelect: {
				dataArr: {
					sortListArr: [
						{
							data: {
								dataSort: 'popular'
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'По популярности'
									}
								}
							}
						},
						{
							data: {
								dataSort: 'ask'
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'По цене вверх'
									}
								}
							}
						},
						{
							data: {
								dataSort: 'desk'
							},
							elem: {
								Text: {
									data: {
										tag: 'span',
										text: 'По цене вниз'
									}
								}
							}
						}
					]
				},
			}
		}
	}
