-
	function classes(cn) {
		const BLOCK = CN('filter-items')

		return {
			block: BLOCK(),
			elementBreadCrumbsHeading: BLOCK('bread-crumbs-heading'),
			elementIcon: BLOCK('icon'),
			elementLink: BLOCK('link'),
			elementCardWrapper: BLOCK('card-wrapper'),
			elementChipsWrapper: BLOCK('chips-wrapper'),
			elementFilterWrapper: BLOCK('filter-wrapper'),
			elementPaginationWrapper: BLOCK('pagination-wrapper'),
			elementSortBtn: BLOCK('sort-btn'),
			elementFilterBtn: BLOCK('filter-btn'),
			elementBtnIcon: BLOCK('btn-icon'),
			elementSortWrapper: BLOCK('sort-wrapper'),
			elementBtnClear: BLOCK('btn-clear'),
			elementBtnClearIcon: BLOCK('btn-clear-icon'),
			elementSortSelectWrapper: BLOCK('sort-select-wrapper'),
			elementTagsWrapper: BLOCK('tags-wrapper'),
			elementBtnChipsTags: BLOCK('btn-chips-tags'),
			elementBtnChipsTagsIcon: BLOCK('btn-chips-tags-icon'),
			elementFilterContent: BLOCK('filter-content'),
			elementSortWrapperBackground: BLOCK('sort-wrapper-background'),
			elementSortSelect: BLOCK('sort-select'),
			elementSortSelectBody: BLOCK('sort-select-body'),
			elementSortSelectList: BLOCK('sort-select-list'),
		}
	}
