@import "../../shared/styles/include-setings-styles";

.zone {
	margin-bottom: 12px;

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;

		transition: transition();

		letter-spacing: 0.03em;

		color: $black;

		border-radius: 16px;

		background: $background-light;

		font-size: $fs16;
		line-height: 1.25;
		padding-block: 12px;
		column-gap: 8px;

		&:hover:not([disabled]) {
			color: $black;
			background: $light-gray;
		}

		&:active:not([disabled]) {
			background-color: $gray;
		}
	}

	&__icon {
		width: 24px;
	}
}
