-
	function classes(cn) {
		const BLOCK = CN('item-sidebar')

		return {
			block: BLOCK(),
			elementImg: BLOCK('img'),
			elementBody: BLOCK('body'),
			elementList: BLOCK('list'),
			elementLink: BLOCK('link')
		}
	}
