-
	function classes(cn) {
		const BLOCK = CN('catalog-search')

		return {
			block: BLOCK(),
			elementBtnCatalog: BLOCK('btn-catalog'),
			elementBtnIcon: BLOCK('btn-icon'),
			elementBtnText: BLOCK('btn-text'),
			elementForm: BLOCK('form'),
			elementInputSearch: BLOCK('input-search'),
			elementBtnInput: BLOCK('btn-input'),
			elementInputIcon: BLOCK('input-icon'),
			elementInputSvgUse: BLOCK('input-svg-use'),
			elementResultSearch: BLOCK('result-search'),
			elementResultSearchItem: BLOCK('result-search-item'),
		}
	}
