svg(viewBox="0 0 24 24" fill="none")&attributes(attributes)
	path(fill-rule="evenodd" clip-rule="evenodd" d="M16.2834 20.7803C16.5722 20.4874 16.5722 20.0126 16.2834 19.7197L9.19543 12.5303C8.90667 12.2374 8.90667 11.7626 9.19543 11.4697L16.2834 4.28033C16.5722 3.98744 16.5722 3.51256 16.2834 3.21967C15.9947 2.92678 15.5265 2.92678 15.2377 3.21967L8.14972 10.409C7.28343 11.2877 7.28343 12.7123 8.14972 13.591L15.2377 20.7803C15.5265 21.0732 15.9947 21.0732 16.2834 20.7803Z" fill="currentColor")
