svg(viewBox="0 0 24 24" fill="none")&attributes(attributes)
	path(fill-rule="evenodd" clip-rule="evenodd" d="M20.7428 7.25449C21.0857 7.59381 21.0857 8.14395 20.7428 8.48327L11.64 17.491C11.0073 18.1171 9.99998 18.1723 9.30124 17.6192L3.32957 12.8917C2.9509 12.592 2.88951 12.0452 3.19244 11.6705C3.49537 11.2958 4.04792 11.235 4.42659 11.5348L10.3983 16.2622L19.5011 7.25449C19.844 6.91517 20.3999 6.91517 20.7428 7.25449Z" fill="currentColor")
