svg(viewBox="0 0 32 32" fill="none")&attributes(attributes)
	path(d="M20.5624 7.91337C23.1339 6.83925 24.4196 6.30218 25.0583 6.94245C25.6969 7.58272 25.1612 8.87167 24.0898 11.4496L20.2564 20.6728C18.9441 23.8302 18.288 25.4089 17.3121 25.3306C16.3362 25.2524 15.9386 23.5893 15.1434 20.263L14.895 19.2239C14.7088 18.445 14.6157 18.0555 14.3493 17.7866C14.083 17.5176 13.6952 17.4215 12.9196 17.2291L11.6589 16.9165C8.38186 16.1038 6.74335 15.6975 6.66916 14.7226C6.59496 13.7478 8.15301 13.0969 11.2691 11.7953L20.5624 7.91337Z" fill="currentColor")
