svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M33.3282 18.2324C34.7472 18.9836 34.7472 21.0164 33.3282 21.7676L11.2694 33.4458C9.93743 34.1509 8.33366 33.1853 8.33366 31.6782L8.33366 8.32181C8.33366 6.81466 9.93743 5.84906 11.2694 6.55423L33.3282 18.2324Z" fill="var(--white)")
