svg(viewbox="0 0 32 32" fill="none")&attributes(attributes)
	path(d="M6.66699 12H25.3337" stroke="currentColor" stroke-width="1.5" stroke-linecap="round")
	path(d="M9.33398 16H22.6673" stroke="currentColor" stroke-width="1.5" stroke-linecap="round")
	path(d="M12 20H20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round")
