svg(width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg")
	path(d="M13.0719 14.4C4.872 14.4 0.19471 8.99469 0 0H4.1071C4.24258 6.60164 7.27045 9.39789 9.6689 9.97465V0H13.5368V5.69368C15.905 5.44851 18.3933 2.85423 19.2329 0H23.1004C22.4559 3.51701 19.7574 6.11166 17.8386 7.1784C19.7574 8.04316 22.831 10.3062 24 14.4H19.7427C18.828 11.6613 16.5499 9.54227 13.5368 9.25389V14.4H13.0719Z" fill="var(--gray)")
