-
	const Sidebar = {
		elem: {
			SidebarItemArr: [
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png', // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				},
				{
					data: {
						img: './assets/img/features/sidebar/img.png',
						imgWebp: './assets/img/features/sidebar/img.png' // менять на webp на беке
					},
					elem: {
						Text: {
							tag: 'p',
							data: {
								text: 'Фрукты, овощи'
							},
						},
					},
					dataArr: {
						linkArr: [
							{
								data: {
									text: 'Овощи',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Фрукты, ягоды',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Грибы',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Зелень, салаты',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Соленья',
									href: '#!'
								}
							},
							{
								data: {
									text: 'Орехи, сухофрукты',
									href: '#!'
								}
							}
						]
					}
				}
			],
		}
	}
