// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.catalog-item {
	$self: &;

	display: flex;
	flex-direction: column;
	column-gap: 4px;

	cursor: pointer;

	&__img {
		width: 48px;

		border-radius: 8px;

		@include media(md) {
			width: 64px;

			border-radius: 16px;
		}

		@include media(xs) {
			width: 40px;

			border-radius: 8px;
		}
	}

	&__body {
		display: flex;
		column-gap: 4px;

		@include media(md) {
			column-gap: 16px;
		}
	}

	&__list {
		visibility: hidden;
		overflow: hidden;

		height: 0;

		transition: transition();

		opacity: 0;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		padding-inline: 8px;
		column-gap: 4px;

		transition: transition();

		border-radius: 8px;

		@include media(md) {
			padding-inline: 0;
		}
	}

	&__icon {
		flex: 0 0 auto;

		width: 20px;
		height: 20px;

		transition: transition(all, 0.1);

		opacity: 0;

		@include media(md) {
			opacity: 1;
		}
	}

	&:hover {
		#{$self}__icon {
			opacity: 1;
		}
	}
}

.js-catalog-selected {
	.catalog-item {
		&__content {
			background-color: $background-light;

			@include media(md) {
				background-color: unset;
			}
		}

		&__list {
			visibility: visible;
			overflow: visible;

			height: auto;

			transition: all 0.4s;

			opacity: 1;
		}

		&__icon {
			@include media(md) {
				transform: rotate(90deg);
			}
		}
	}
}
