-
	function classes(cn) {
		const BLOCK = CN('catalog-item')

		return {
			block: BLOCK(),
			elementImg: BLOCK('img'),
			elementBody: BLOCK('body'),
			elementContent: BLOCK('content'),
			elementIcon: BLOCK('icon'),
			elementList: BLOCK('list')
		}
	}
