# project
node_modules
build
dist
out

# IDE and OS
.idea
.vscode
Thumbs.db
.DS_Store
machinet.conf

# dotenv environment variables file (build for Zeit Now)
.env

incremental-pages-watch.js
include-link.pug
include-script.pug
