-
	function classes(cn) {
		// логика формирования классов
		const cols = cn?.cols ? cn?.cols : 'col-36';

		// определение блока 'col'
		const BLOCK = CN('col');

		return {
			col: BLOCK({}, [
				cols,
				cn?.offset,
				cn?.order,
				cn?.justify,
				cn?.alignSelf,
				cn?.margin,
				cn?.padding,
				cn?.display,
				cn?.direction,
				cn?.gap,
			])
		}
	}
