symbol(id="search" viewBox="0 0 48 48" fill="none")
	rect(width="48" height="48" rx="24" fill="#DA1E2A")
	circle(cx="23" cy="23" r="9" stroke="#F5F4F4" stroke-width="2")
	path(d="M29 30L41 43" stroke="#F5F4F4" stroke-width="2")
