symbol(id="search-clear" viewBox="0 0 48 48" fill="none")
	rect(width="48" height="48" rx="24" fill="#DA1E2A")
	path(fill-rule="evenodd" clip-rule="evenodd" d="M17.205 17.205C17.4784 16.9317 17.9216 16.9317 18.195 17.205L24 23.01L29.805 17.205C30.0784 16.9317 30.5216 16.9317 30.795 17.205C31.0683 17.4784 31.0683 17.9216 30.795 18.195L24.9899 24L30.795 29.805C31.0683 30.0784 31.0683 30.5216 30.795 30.795C30.5216 31.0683 30.0784 31.0683 29.805 30.795L24 24.9899L18.195 30.795C17.9216 31.0683 17.4784 31.0683 17.205 30.795C16.9317 30.5216 16.9317 30.0784 17.205 29.805L23.01 24L17.205 18.195C16.9317 17.9216 16.9317 17.4784 17.205 17.205Z" fill="white")
