.input-otp {
	$self: &;

	&__wrapper {
		display: flex;
		gap: 6px;

		align-items: center;
		justify-content: center;

		@include media(xs) {
			gap: 4px;
		}
	}

	&__cell {
		width: 86px;
		height: 96px;

		transition: transition();
		text-align: center;
		letter-spacing: 0.02em;

		color: $black;
		border: 2px solid $background-light;
		border-radius: $br16;
		outline: none;
		background: $background-light;
		caret-color: $red;

		font-family: $font-montserrat;
		font-size: $fs40;
		font-weight: 700;
		line-height: 1;

		@include media(xs) {
			width: 71px;
			height: 80px;

			font-size: $fs24;
		}

		// stylelint-disable-next-line order/order
		&:disabled {
			cursor: not-allowed;
		}

		&:not(:disabled):hover {
			border: 2px solid $gray;
			background: $white;
		}
	}

	&__error {
		display: none;
	}

	&.js-error {
		#{ $self }__cell {
			color: $red;
			border: 2px solid $red;
			background: $white;
		}

		#{ $self }__error {
			display: block;

			margin-top: 8px;

			text-align: center;
		}
	}
}
