mixin InputOtp(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include InputOtp.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)&attributes(attributes)
		div(class=styles.elementWrapper)
			for item in new Array(DATA('count'))
				input(class=styles.elementCell type="text" autocomplete="off")
		if ELEM('TextError', false)
			+Text(ELEM('TextError'))(class=styles.elementError)
