-
	function classes(cn) {
		const BLOCK = CN('ma-pass-recovery')

		return {
			block: BLOCK(),
			elementBtnBack: BLOCK('button-back'),
			elementHeading: BLOCK('heading'),
			elementForm: BLOCK('form'),
			elementFormContent: BLOCK('form-content'),
			elementInput: BLOCK('input'),
			elementButton: BLOCK('button'),
			elementCaption: BLOCK('caption'),
		}
	}
