-
	function classes(cn) {
		const BLOCK = CN('counter-cart');

		return {
			block: BLOCK(),
			elementButtonMinus: BLOCK('button-minus'),
			elementButtonPlus: BLOCK('button-plus'),
			elementInputWrapper: BLOCK('input-wrapper'),
			elementInput: BLOCK('input'),
			elementInputUnit: BLOCK('input-unit'),
		}
	}
