@import "../../shared/styles/include-setings-styles";

.button-show-more {
	$self: &;

	display: flex;
	align-items: center;

	width: fit-content;
	padding: 4px 8px;

	transition: transition();

	border-radius: 28px;
	background: $white;
	column-gap: 8px;

	&__icon {
		width: 16px;
		height: 16px;

		transition: transition();
	}

	&_mobile-gray {
		#{$self}__text {
			@include media(md) {
				color: $gray;
			}
		}

		#{$self}__icon {
			@include media(md) {
				display: none;
			};
		}
	}

	@media (hover: hover) {
		&:hover {
			background: $light-gray;
		}
	}
}

.js-button-show-more-opened {
	.button-show-more {
		&__icon {
			transform: rotate(180deg);
		}
	}
}
