-
	const Header = {
		dataArr: {},
		elem: {
			ColLogo: {
				cn: {
					cols: 'col-4 col-6@lg col-4@md col-2@xs',
				}
			},
			ColCatalogSearch: {
				cn: {
					cols: 'col-20 col-12@md',
					offset: 'offset-3 offset-1@lg offset-0@md',
					order: 'order-3@md',
					margin: 'mt-12@md mt-8@xs'
				}
			},
			ColActions: {
				cn: {
					cols: 'col-9 col-8@md col-2@xs',
					justify: 'justify-content-end',
					order: 'order-2@md',
					display: 'd-flex'
				}
			},
			// TODO: в версии MVP нету избранного временно закомментировано
			// ButtonHeart: {
			// 	data: {
			// 		icon: 'heart'
			// 	},
			// 	cn: {
			// 		color: 'secondary'
			// 	}
			// },
			ButtonBox: {
				data: {
					icon: 'box'
				},
				cn: {
					color: 'secondary'
				}
			},
			ButtonSignIn: {
				data: {
					text: 'Войти',
					icon: 'user',
					dataModalForm: 'auth',
				},
				cn: {
					color: 'secondary'
				}
			},
		}
	};
