-
	function classes(cn) {
		const BLOCK = CN('header');

		return {
			block: BLOCK(),
			elemActions: BLOCK('actions'),
			elemRowHeader: BLOCK('row-header'),
			elemSignIn: BLOCK('sign-in'),
		}
	}
