| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
+link('COMPONENTS', 'MenuLk')
+link('COMPONENTS', 'CardOrder')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
+link('SECTIONS', 'OrdersHistory')
