-
	function classes(cn) {
		const BLOCK = CN('card-order')

		return {
			block: BLOCK({}),
			elementHeader: BLOCK('header'),
			elementHeaderBottomText: BLOCK('header-bottom-text'),
			elementOrderPictures: BLOCK('order-pictures'),
			elementPicture: BLOCK('picture'),
			elementImage: BLOCK('image'),
		}
	}
