-
	function classes(cn) {
		const BLOCK = CN('company-tag-list')

		return {
			block: BLOCK(),
			elementCompaniesList: BLOCK('companies-list'),
			elementCompanyTag: BLOCK('company-tag'),
			elementCompanyName: BLOCK('company-name'),
			elementShowMoreButton: BLOCK('show-more-button')
		}
	}
