-
	function classes(cn) {
		const BLOCK = CN('menu-lk')

		return {
			block: BLOCK(),
			elementHeader: BLOCK('header'),
			elementMenuCloseButton: BLOCK('menu-close'),
			elementMenu: BLOCK('menu'),
			elementMenuButton: BLOCK('menu-button'),
			elementInput: BLOCK('input'),
			elementMenuArrow: BLOCK('menu-arrow'),
			elementFooter: BLOCK('footer'),
		}
	}
