-
	function classes(cn) {
		const BLOCK = CN('article-list')

		return {
			block: BLOCK(),
			elementArticle: BLOCK('article'),
			elementName: BLOCK('name'),
			elementDescription: BLOCK('description'),
			elementButton: BLOCK('button'),
		}
	}
