-
	function classes(cn) {
		const BLOCK = CN('ma-signup')

		return {
			block: BLOCK(),
			elementHeading: BLOCK('heading'),
			elementTabsButtons: BLOCK('tabs-buttons'),
			elementForm: BLOCK('form'),
			elementFormContent: BLOCK('form-content'),
			elementInputBlock: BLOCK('input-block'),
			elementInput: BLOCK('input'),
			elementButton: BLOCK('button'),
			elementCaption: BLOCK('caption'),
		}
	}
