// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.profile {
	$self: &;

	&__headline {
		margin-bottom: 64px;

		@include media(md) {
			display: flex;
			align-items: center;
			gap: 12px;

			margin-bottom: 48px;
		}

		@include media(xs) {
			gap: 16px;

			margin-bottom: 32px;
		}
	}

	&__button-back {
		display: none;

		@include media(md) {
			display: flex;
		}
	}
}
