-
	function classes(cn) {
		const BLOCK = CN('card-small')

		return {
			block: BLOCK({
				[`${cn?.bgColor}`]: ['pink', 'dark', 'orange'].includes(cn?.bgColor),
			}),
			elementImage: BLOCK('image'),
			elementButton: BLOCK('button')
		}
	}
