// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.card-small {
	position: relative;
	z-index: 0;

	display: flex;

	overflow: hidden;
	flex-direction: column;

	min-height: 330px;
	padding: 16px 4px 4px 16px;

	border-radius: $br24;
	background: $red;

	&__button {
		margin-top: auto;
		margin-left: auto;
	}

	&__image {
		position: absolute;
		z-index: -1;
		right: 0;
		bottom: 0;

		height: 100%;
		object-fit: cover;
	}

	&_orange {
		background-color: $orange;
	}

	&_pink {
		background-color: $pink;
	}

	&_dark {
		background-color: $background-dark;
	}

	@include media(xl) {
		min-height: 272px;
		padding: 20px 4px 4px 20px;
	}

	@include media(lg) {
		min-height: 228px;
		padding: 16px 4px 4px 16px;
	}

	@include media(md) {
		padding: 20px 4px 4px 20px;
	}

	@include media(xs) {
		min-height: 174px;
		padding: 8px 4px 4px 8px;

		border-radius: 16px;
	}
}
