// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.modal-map {
	$self: &;

	&__modal-close {
		@include media(xs) {
			z-index: 1;
			top: 0;
		}
	}

	&__modal-body {
		position: relative;

		display: flex;
		flex-direction: column;

		width: 100%;
		max-width: 925px;
		height: 90%;
		max-height: 627px;

		padding: 24px;

		border-radius: 16px;
		background-color: $white;

		row-gap: 24px;

		@include media(md) {
			max-width: 585px;
			max-height: 699px;
		}

		@include media(xs) {
			width: 100%;
			max-width: unset;
			height: 100%;
			max-height: unset;

			padding: 0;

			row-gap: 0;

			border-radius: 0;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;

		@include media(xs) {
			position: absolute;

			top: 8px;

			width: 100%;
		}
	}

	&__search {
		display: flex;
		flex-direction: row;

		column-gap: 8px;

		transition: transition(height);

		@include media(md) {
			flex-direction: column;
			row-gap: 8px;
		}

		@include media(xs) {
			position: absolute;
			z-index: 1001;
			bottom: 0;

			width: 100%;

			padding: 16px 12px;

			background-color: $white;
			row-gap: 16px;

			&-active {
				height: 100%;

				#{$self}__search-header {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	&__search-header {
		display: none;
	}

	&__button-back {
		position: absolute;
		left: 12px
	}

	&__input {
		width: 100%;
	}

	&__suggest-result {
		position: absolute;
		z-index: 1;

		overflow-y: scroll;

		width: 100%;
		max-height: 240px;

		margin-top: 4px;

		border-radius: 16px;

		background-color: $white;

		box-shadow: 0 2px 10px $shadow-dark;

		@include no-scrollbar
	}

	&__suggest-place {
		padding: 16px 20px;

		cursor: pointer;

		&:hover {
			background-color: $background-light;
		}

		&:first-child {
			border-radius: 16px 16px 0 0;
		}

		&:last-child {
			border-radius: 0 0 16px 16px;
		}
	}

	&__apply-button {
		@include media(md) {
			width: 100%;

			margin-top: auto;
		}
	}

	&__map {
		order: 0;
	}
}

.ymaps3x0--geolocation-control-self-ru {
	// stylelint-disable-next-line declaration-no-important
	display: none !important;
}
