-
	function classes(cn) {
		const BLOCK = CN('modal-map')

		return {
			block: BLOCK(),
			elementModalClose: BLOCK('modal-close'),
			elementModalBody: BLOCK('modal-body'),
			elementHeader: BLOCK('header'),
			elementSearch: BLOCK('search'),
			elementSearchHeader: BLOCK('search-header'),
			elementButtonBack: BLOCK('button-back'),
			elementInput: BLOCK('input'),
			elementSuggestResult: BLOCK('suggest-result'),
			elementApplyButton: BLOCK('apply-button'),
			elementMap: BLOCK('map')
		}
	}
