-
	const Footer = {
		data: {
			image: './assets/img/big-logo.png',
			copyrightIcon: 'aic',
			linkPhoneText: '+7 (495)729-54-71',
			linkPhoneHref: 'tel:+74957295471',
			linkEmailText: 'yest@komus.net',
			linkEmailHref: 'mailto:yest@komus.net',
		},
		elem: {
			textInfo: {
				data: {
					text: 'ООО «Комус-Ростов», ИНН 6163069899'
				},
				cn: {
					margin: 'mb-24'
				}
			},
		},
		dataArr: {
			footerMenuLinksArr: [
				{
					data: {
						text: 'О сервисе',
						link: '#',
					}
				},
				{
					data: {
						text: 'Служба поддержки',
						link: '#'
					}
				},
				{
					data: {
						text: 'Политика конфиденциальности',
						link: '#'
					}
				},
				{
					data: {
						text: 'Правила и соглашения',
						link: '#'
					}
				},
			],
			footerSocialLinksArr: [
				{
					elem: {
						Button: {
							data: {
								href: '#',
								icon: 'youtube'
							},
							opt: {
								isCircle: true
							}
						}
					}
				},
				{
					elem: {
						Button: {
							data: {
								href: '#',
								icon: 'telegram'
							},
							opt: {
								isCircle: true
							}
						}
					}
				},
				{
					elem: {
						Button: {
							data: {
								href: '#',
								icon: 'vk'
							},
							opt: {
								isCircle: true
							}
						}
					}
				},
			]
		}
	}
