-
	const ModalChangeData = {
		includeContent: 'ModalChangeData',
		elem: {
			Modal: {
				data: {
					dataModal: 'change-data',
				},
			},
			Input: {
				data: {
					type: 'text',
				},
				elem: {
					TextLabel: {
						data: {
							tag: 'span',
							text: '',
						},
						cn: {
							color: 'gray',
						}
					},
					TextError: {
						data: {
							tag: 'span',
							text: '',
						},
						cn: {
							size: 'caption',
							color: 'red',
						}
					},
				},
				opt: {
					required: true,
				}
			},
		}
	}
