-
	const Profile = {
		includeSection: 'Profile',
		elem: {
			Heading: {
				data: {
					text: 'Профиль',
					tag: 'h2'
				}
			},
			ArticleList: {
				dataArr: {
					elementArticleArr: [
						{
							elem: {
								TextName: {
									data: { text: 'Имя и фамилия' }
								},
								TextDescription: {
									data: { text: 'Иван Иванов' }
								},
								Button: {
									data: {
										dataModalForm: 'change-data',
										dataModalInputData: '{"name":"fullName", "label":"Имя и фамилия", "error":"Ошибка", "data-validation-type": "fullName"}',
									}
								}
							},
							opt: {
								isButton: true
							}
						},
						{
							elem: {
								TextName: {
									data: { text: 'Электронная почта' }
								},
								TextDescription: {
									data: { text: 'test@mail.ru' }
								},
								Button: {
									data: {
										dataModalForm: 'change-data',
										dataModalInputData: '{"name":"email", "label":"Электронная почта", "error":"Неправильный формат почты", "data-validation-type": "email"}',
									}
								}
							},
							opt: {
								isButton: true
							}
						},
						{
							elem: {
								TextName: {
									data: { text: 'Телефон' }
								},
								TextDescription: {
									data: { text: '8 912 222-22-22' }
								},
								Button: {
									data: {
										dataModalForm: 'change-data',
										dataModalInputData: '{"name":"phone", "label":"Телефон", "error":"Неправильный формат телефона", "data-validation-type": "phone"}',
									}
								}
							},
							opt: {
								isButton: true
							}
						},
						{
							elem: {
								TextName: {
									data: { text: 'Адрес доставки' }
								},
								TextDescription: {
									data: { text: 'Михневская Улица, 2Дс4, Москва, 115547' }
								},
								Button: {
									data: {
										dataModalForm: 'change-data',
										dataModalInputData: '{"name":"address", "label":"Адрес доставки", "error":"Неправильный адрес доставки", "data-validation-type": "text"}',
									}
								}
							},
							opt: {
								isButton: true
							}
						},
						{
							elem: {
								TextName: {
									data: { text: 'Пароль' }
								},
								TextDescription: {
									data: { text: '*******' }
								},
								Button: {
									data: {
										dataModalForm: 'change-data',
										dataModalInputData: '{"name":"password", "label":"Пароль", "error":"Неправильный пароль", "data-validation-type": "password"}',
									}
								}
							},
							opt: {
								isButton: true
							}
						},
					]
				}
			}
		}
	}
