//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const PAGE_TITLE = 'Личный кабинет';
	const IS_PAGE_SVG_SPRITE = true;
	// переменные для MainLayout
	const LAYOUT_LEFT_COL_PROPS = { cn: { cols: 'col-6' }};
	const LAYOUT_LEFT_SIDE_COMPONENT = 'MenuLk';

//- # ПЕРЕМЕННЫЕ ДЛЯ ПЕРЕОПРЕДЕЛЕНИЯ FEATURES # -//
-
	const Header = {
		elem: {
			ButtonBox: false,
			ButtonSignIn: {
				data: {
					text: 'Личный кабинет',
					icon: 'user',
				},
				cn: {
					color: 'secondary'
				}
			},
		}
	}

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const PAGE_STORE = addSections();

//- ## Подключение store секции Profile ## -//
include lk--profile
- PAGE_STORE.addSection(Profile);

//- ## Подключение store секции ModalChangeData ## -//
include lk--modal-change-data
- PAGE_STORE.addSection(ModalChangeData);
