//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const PAGE_TITLE = 'Главная';
	const IS_PAGE_SVG_SPRITE = true;
	// const LAYOUT_LEFT_SIDE_COMPONENT = 'Sidebar';
	// const LAYOUT_RIGHT_SIDE_COMPONENT = 'Cart';

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const PAGE_STORE = addComponents();

//- ## Подключение store секции MainBanners ## -//
include index--zone
- PAGE_STORE.addComponent(Zone);

//- ## Подключение store секции MainBanners ## -//
include index--main-banners
- PAGE_STORE.addComponent(MainBanners);

////- ## Подключение store секции SmallBanners ## -//
//include index--small-banners
//- PAGE_STORE.addSection(SmallBanners);
//
////- ## Подключение store секции Promo ## -//
//include index--promo
//- PAGE_STORE.addSection(Promo);
//
////- ## Подключение store секции SectionCardProductHeading ## -//
//include index--section-card-product-heading
//- PAGE_STORE.addSection(SectionCardProductHeading);
//
////- ## Подключение store секции Delivery ## -//
//include index--delivery
//- PAGE_STORE.addSection(Delivery);
//
////- ## Подключение store секции SectionCardProductHeadingBottom ## -//
//include index--section-card-product-heading-bottom
//- PAGE_STORE.addSection(SectionCardProductHeadingBottom);
//
////- ## Подключение store секции ModalProduct ## -//
//include index--modal-product
//- PAGE_STORE.addSection(ModalProduct);
//
////- ## Подключение store секции ModalMap ## -//
//include index--modal-map
//- PAGE_STORE.addSection(ModalMap);
//
////- ## Подключение store секции ModalMapStatic ## -//
//include index--modal-map-static
//- PAGE_STORE.addSection(ModalMapStatic);
//
////- ## Подключение store секции ModalAuth ## -//
//include index--modal-auth
//- PAGE_STORE.addSection(ModalAuth);
//
////- ## Подключение store секции ModalBuyInOne ## -//
//include index--modal-buy-in-one
//- PAGE_STORE.addSection(ModalBuyInOne);
