-
	const SectionCardProductHeading = {
		includeSection: 'SectionCardProductHeading',
		cn: {
			margin: 'mt-48'
		},
		elem: {
			CardProductHeading: {
				elem: {
					Heading: {
						data: {
							text: 'Вам понравится',
							tag: 'h2'
						},
						cn: {
							size: 'h2',
							margin: 'mb-24 mb-16@md',
						}
					},
					CardProductList: {
						elem: {
							CardProductArr: [
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextOldPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'caption',
														color: 'gray',
														textStriking: 'striking'
													}
												},
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img2.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Новинка',
														},
														cn: {
															tag: 'new'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Tags: {
											dataArr: {
												tagsArr: [
													{
														data: {
															text: 'Хит',
														},
														cn: {
															tag: 'hit'
														}
													},
													{
														data: {
															text: '-20 %',
														},
														cn: {
															tag: 'sail'
														}
													},
												]
											}
										},
										CardProductCounter: {
											elem: {
												TextPrice: {
													data: {
														text: '160 ₽',
													},
													cn: {
														size: 'body-h3'
													}
												},
												Button: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
												ButtonMinus: {
													cn: {
														type: 'circle',
													},
													opt: {
														isCircle: true
													}
												},
											}
										}
									},
									opt: {
										withCounter: true,
									}
								},
							]
						}
					}
				}
			}
		},
	}
