-
	const ModalMap = {
		includeContent: 'ModalMap',
		elem: {
			Modal: {
				data: {
					dataModal: 'map',
				},
			},
			Input: {
				data: {
					type: 'text',
					name: 'location',
					validationType: 'text',
				},
				elem: {
					TextLabel: {
						data: {
							tag: 'span',
							text: 'Введите адрес',
						},
						cn: {
							color: 'gray',
						}
					},
					TextError: {
						data: {
							tag: 'span',
							text: 'Ошибка',
						},
						cn: {
							size: 'caption',
							color: 'red',
						}
					},
				},
				opt: {
					disabled: false
				}
			}
		}
	}
