@import "../../shared/styles/include-setings-styles";

.chips {
	display: flex;
	align-items: center;

	padding: 10px 16px;

	white-space: nowrap;

	text-decoration: none;

	border-radius: 12px;
	background: $background-light;

	&:hover {
		background: $light-gray;
	}

	@include media(xs) {
		max-height: 32px;
		padding: 8px 16px;
	}
}
