-
	function classes(cn) {
		const BLOCK = CN('card-product-counter')

		return {
			block: BLOCK(),
			elementFooterText: BLOCK('footer-text'),
			elementFooterButton: BLOCK('footer-button'),
			elementButtonMinus: BLOCK('button-minus'),
			elementPriceWrap: BLOCK('price-wrap'),
			elementInput: BLOCK('input'),
			elementPrice: BLOCK('price'),
			elementButtonPlus: BLOCK('button-plus'),
		}
	}
