// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.card-product-counter {
	$self: &;

	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 40px;

	margin: auto 4px 4px 16px;

	&__footer-text {
		display: flex;
		align-items: baseline;

		transition: transition(opacity);

		opacity: 1;

		column-gap: 8px;
	}

	&__footer-button {
		position: absolute;
		right: 0;
		bottom: 0;

		display: flex;
		overflow: hidden;
		align-items: center;

		justify-content: space-between;

		width: 40px;
		height: 40px;

		margin: 6px 6px 4px;

		cursor: default;

		transition: transition();

		border-radius: 200px;
		background-color: $white;

		@include media(xs) {
			width: 32px;
			height: 32px;

			margin: 6px 2px 4px;
		}
	}

	&__price-wrap {
		display: flex;
		align-items: center;
		flex-direction: column;

		height: 32px;
		max-height: 32px;

		padding: 0 18px;

		transition: transition(background-color);

		border-radius: 6px;

		margin-inline: auto;

		&:has(#{$self}__input:focus) {
			background-color: $background-light;

			#{$self}__input {
				background-color: $background-light;
			}
		}

		&:hover {
			background-color: $background-light;

			#{$self}__input {
				background-color: $background-light;
			}
		}

		@include media(lg) {
			padding-inline: 6px;
		}

		@include media(md) {
			padding-inline: 16px;
		}

		@include media(xs) {
			padding: 0;
		}
	}

	&__input {
		overflow: hidden;

		width: 0;

		max-width: 42px;
		height: 32px;

		padding: 0 2px 0 0;

		transition: transition(background-color);
		text-align: center;

		border: none;
		outline: none;

		font-family: $font-firasans;
		font-size: $fs16;
		caret-color: $red;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			margin: 0;
			appearance: none;
		}

		&:focus ~ #{$self}__price {
			display: none;

			height: 100%;
		}

		@include media(xs) {
			font-size: $fs14;
		}
	}

	&__price {
		user-select: none;
		text-align: center;

		color: $gray;

		font-size: $fs12;

		@include media(xs) {
			font-size: $fs10;
		}
	}

	&__button-minus {
		position: absolute;
		bottom: 0;
		left: 0;

		color: $red;

		&::before {
			width: 18px;
			height: 2px;

			content: "";

			background: $red;
		}

		@media (hover: hover) {
			&:hover {
				&::before {
					background: $white;
				}
			}
		}

		@media (hover: none) {
			&:active {
				&::before {
					background: $white;
				}
			}
		}
	}

	&__button-plus {
		position: absolute;

		right: 0;
		bottom: 0;

		color: $red;

		&::before {
			position: absolute;

			width: 2px;
			height: 18px;

			content: "";

			background: $red;
		}

		&::after {
			width: 2px;
			height: 18px;

			content: "";

			transform: rotate(90deg);

			background: $red;
		}

		&:hover {
			&::before {
				background: $white;
			}

			&::after {
				background: $white;
			}
		}
	}

	@include media(md) {
		margin: auto 4px 4px 16px;
	}

	@include media(xs) {
		height: 40px;

		margin: auto 4px 4px 8px;
	}
}

.js-counter-active {
	.card-product-counter {
		&__footer-text {
			opacity: 0;
		}

		&__footer-button {
			display: flex;

			width: 100%;
		}

		&__button-plus {
			transform: rotate(-90deg);

			color: $white;
			background-color: $red;

			&::before {
				background: $white;
			}

			&::after {
				background: $white;
			}
		}

		&__input {
			overflow: unset;

			width: fit-content;
		}
	}
}

.js-input-active {
	.card-product-counter {
		&__button-plus {
			&::before {
				transform: rotate(-45deg) translate(-4px, 2px);
			}

			&::after {
				height: 12px;

				transform: rotate(45deg) translate(-6px, -1px);
			}
		}

		&__button-minus {
			transform: rotate(45deg);

			&::before {
				position: absolute;

				width: 2px;
				height: 18px;
			}

			&::after {
				width: 2px;
				height: 18px;

				content: "";

				transform: rotate(90deg);

				background: $red;
			}

			&:hover {
				&::after {
					background: $white;
				}
			}
		}
	}
}
