-
	function classes(cn) {
		const BLOCK = CN('modal-change-data')

		return {
			block: BLOCK(),
			elementModalBody: BLOCK('modal-body'),
			elementContent: BLOCK('content'),
			elementHeading: BLOCK('heading'),
			elementText: BLOCK('text'),
			elementForm: BLOCK('form'),
			elementFormContent: BLOCK('form-content'),
			elementButton: BLOCK('button'),
		}
	}
