// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.modal-change-data {
	$self: &;

	&__modal-body {
		border-radius: $br24;
		background-color: $white;

		@include media(xs) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;

		width: 525px;
		height: 100%;
		padding: 32px 24px 24px;

		@include media(xs) {
			width: 100%;
			padding: 22px 12px 40px;
		}

		@include media(xs) {
			padding: 22px 12px 76px;
		}
	}

	&__password-success {
		display: flex;
		align-items: center;
		flex-direction: column;

		width: 525px;
		height: 100%;
		padding: 32px 24px 24px;

		@include media(xs) {
			width: 100%;
			padding: 22px 12px 40px;
		}

		@include media(xs) {
			padding: 22px 12px 76px;
		}
	}

	&__heading {
		margin-bottom: 24px;

		@include media(xs) {
			margin-bottom: 16px;
			padding-inline: 48px;
		}
	}

	&__text {
		max-width: 400px;
		margin-bottom: 24px;

		@include media(xs) {
			margin-bottom: 16px;
		}
	}

	&__form {
		width: 100%;
	}

	&__form-content {
		display: flex;
		flex-direction: column;
		gap: 8px;

		@include media(xs) {
			gap: 4px;
		}
	}

	&__button {
		margin-top: 16px;

		@include media(xs) {
			margin-top: 12px;
		}
	}

	&__error {
		display: block;

		margin-left: 22px;

		@include media(xs) {
			margin-left: 16px;
		}
	}
}
