//- # ПОДКЛЮЧЕНИЕ LAYOUT # -//
extends ../../shared/helpers/pug/layout

//- # ПОДКЛЮЧЕНИЕ STORE СТРАНИЦЫ # -//
block variables
	include store/index.store.pug

//- # ПОДКЛЮЧЕНИЕ CSS СТРАНИЦЫ # -//
append include-css
	include styles-and-scripts/index.link.pug

block svg-sprite
	+SVGSprite(['user'])

//- # ПОДКЛЮЧЕНИЕ HEADER СТРАНИЦЫ # -//
block header
	+Header(Header)
	div(class="dd") 333hh3
	+SVGUse('user')

//- # ПОДКЛЮЧЕНИЕ FOOTER СТРАНИЦЫ # -//
block footer
	+Footer(Footer)

//- # ПОДКЛЮЧЕНИЕ JAVASCRIPT СТРАНИЦЫ # -//
append include-js
	include styles-and-scripts/index.script.pug
