mixin ButtonCart(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ButtonCart.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	button(class=styles.block type="button" disabled=OPT('isDisabled', false) data-modal-form="buy-in-one" data-price="На сумму 1746 ₽")&attributes(attributes)
		if OPT('isDisabled')
			+Text(ELEM('Text'))
		else
			span(class=styles.elementLeft)
				+Text(ELEM('TextPrice'))
			span(class=styles.elementRight)
				if ELEM('Text', false)
					+Text(ELEM('Text'))
				if ELEM('TextCaption', false)
					+Text(ELEM('TextCaption'))
