-
	function classes(cn) {
		const BLOCK = CN('button-cart')

		return {
			block: BLOCK({
				[`${cn?.state}`]: ['more', 'disabled'].includes(cn?.state),
			}),
			elementLeft: BLOCK('left'),
			elementRight: BLOCK('right'),
		}
	}
