-
	function classes(cn) {
		const BLOCK = CN('ma-pass-success')

		return {
			block: BLOCK(),
			elementHeading: BLOCK('heading'),
			elementText: BLOCK('text'),
			elementButton: BLOCK('button'),
		}
	}
