.ma-pass-success {
	$self: &;

	display: flex;
	flex-direction: column;

	&__heading {
		margin-bottom: 32px;
		padding-inline: 32px;

		@include media(xs) {
			margin-bottom: 20px;
		}
	}

	&__text {
		margin-bottom: 24px;

		@include media(xs) {
			margin-bottom: 16px;
		}
	}

	&__button {
		width: 100%;

		@include media(xs) {
			padding-inline: 0;
		}
	}
}
