mixin CompanyInfo(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include CompanyInfo.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.block)
		+Button({
			data: { icon: 'plus', text: 'Добавить новую компанию' },
		})(Button = {
			class: styles.elementButtonAddCompany,
			'data-modal-form': 'add-company',
		})

		+CompanyTagList(ELEM('CompanyTagList'))
		div(class=styles.elementAboutCompany data-component-id="data-component-id")
			+Heading(ELEM('CompanyHeading'))
			+ArticleList(ELEM('ArticleList'))
			button(class=styles.elementButtonDelete data-modal-form="delete-confirmation" data-api-url="/company")
				+Sprite('close')(class=styles.elementButtonDeleteIcon)
				+Text({ data: { tag: 'span', text: 'Удалить компанию' }, cn: { size: 'button-l' } })
