-
	function classes(cn) {
		const BLOCK = CN('company-info')

		return {
			block: BLOCK(),
			elementButtonAddCompany: BLOCK('button-add-company'),
			elementCompaniesList: BLOCK('companies-list'),
			elementAboutCompany: BLOCK('about-company'),
			elementButtonDelete: BLOCK('button-delete'),
			elementButtonDeleteIcon: BLOCK('button-delete-icon'),
		}
	}
