mixin ErrorMessage(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ErrorMessage.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	section(class=styles.block)
		div(class=styles.elementWrapper)
			+Heading(ELEM('Heading'))
			+Text(ELEM('Text'))
			+Button(ELEM('Button'))
