// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.error-message {
	display: flex;
	justify-content: center;

	height: 100vh;

	&__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		max-width: 502px;

		margin-top: 174px;
		row-gap: 32px;

		@include media(md) {
			margin-top: 64px;
		}

		@include media(xs) {
			row-gap: 24px;

			margin-top: 48px;
		}
	}
}
