-
	function classes(cn) {
		const BLOCK = CN('cart');

		return {
			block: BLOCK(),
			elementBg: BLOCK('bg'),
			elementButtonAddress: BLOCK('button-address'),
			elementWrapper: BLOCK('wrapper'),
			elementTop: BLOCK('top'),
			elementButtonBack: BLOCK('button-back'),
			elementTopHeading: BLOCK('top-heading'),
			elementButtonEmpty: BLOCK('button-empty'),
			elementButtonEmptyText: BLOCK('button-empty-text'),
			elementButtonEmptyIconDesktop: BLOCK('button-empty-icon-desktop'),
			elementButtonEmptyIconMobile: BLOCK('button-empty-icon-mobile'),
			elementBody: BLOCK('body'),
			elementBottom: BLOCK('bottom'),
			elementButtonCart: BLOCK('button-cart'),
			elementLogo: BLOCK('logo'),
			elementSprite: BLOCK('sprite'),
		}
	}
