| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
+link('COMPONENTS', 'MenuLk')
+link('COMPONENTS', 'ArticleList')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
+link('SECTIONS', 'Profile')

+link('SECTIONS', 'ModalChangeData')
