-
	const OrderDetailed = {
		includeSection: 'OrderDetailed',
		elem: {
			BreadCrumbs: {
				elem: {
					Heading: {
						data: {
							text: 'Детали заказа', tag: 'h2'
						}
					}
				}
			},
			ArticleList: {
				dataArr: {
					elementArticleArr: [
						{
							elem: {
								TextName: {
									data: { text: 'Номер заказа' },
								},
								TextDescription: {
									data: { text: '887508675676' }
								}
							}
						},
						{
							elem: {
								TextName: {
									data: { text: 'Заказ создан' }
								},
								TextDescription: {
									data: { text: '13 февраля в 11:00 ' }
								}
							},
						},
						{
							elem: {
								TextName: {
									data: { text: 'Заказ выполнен' }
								},
								TextDescription: {
									data: { text: '13 февраля в 17:00' }
								}
							},
						},
						{
							elem: {
								TextName: {
									data: { text: 'Адрес доставки' }
								},
								TextDescription: {
									data: { text: 'Михневская Улица, 2Дс4, Москва, 115547' }
								}
							},
						},
					]
				},
			},
			CardProductHeading: {
				elem: {
					Heading: {
						data: {
							text: 'Товары в заказе',
							tag: 'h2'
						},
						cn: {
							size: 'h2',
							margin: 'mb-24 mb-16@md',
						}
					},
					CardProductList: {
						elem: {
							ColCardProduct: {
								cn: {
									cols: 'col-5 col-2@xs'
								}
							},
							CardProductArr: [
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextOldPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'caption',
												color: 'gray',
												textStriking: 'striking'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										}
									},
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img2.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										}
									},
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Новинка',
												},
												cn: {
													tag: 'new'
												}
											},
										]
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										}
									},
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: 'Новинка',
												},
												cn: {
													tag: 'new'
												}
											},
										]
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										}
									},
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: '-20 %',
												},
												cn: {
													tag: 'sail'
												}
											},
										]
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										}
									},
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Новинка',
												},
												cn: {
													tag: 'new'
												}
											},
										]
									}
								},
								{
									data: {
										icon: 'heart',
										img: './assets/img/components/card-product/product-img.png',
									},
									elem: {
										TextName: {
											data: {
												text: 'Горошек Heinz зеленый Нежный',
											},
											cn: {
												size: 'body-m-m'
											}
										},
										TextWeight: {
											data: {
												text: '400г',
											},
											cn: {
												size: 'body-m-m',
												color: 'gray',
												margin: 'mt-8 mt-4@xs'
											}
										},
										TextPrice: {
											data: {
												text: '160 ₽',
											},
											cn: {
												size: 'body-h3'
											}
										},
										Button: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										},
										ButtonMinus: {
											cn: {
												type: 'circle',
											},
											opt: {
												isCircle: true
											}
										}
									},
									dataArr: {
										tagsArr: [
											{
												data: {
													text: 'Хит',
												},
												cn: {
													tag: 'hit'
												}
											},
											{
												data: {
													text: 'Новинка',
												},
												cn: {
													tag: 'new'
												}
											},
										]
									}
								},
							],
						}
					}
				},
				cn: {
					margin: 'mt-64'
				}
			},
		}
	}
