-
	function classes(cn) {
		const BLOCK = CN('banner-promo')

		return {
			block: BLOCK({}, ['d-flex g-8']),
			elementImageWrap: BLOCK('image-wrap', ['d-flex flex-direction-column justify-content-between']),
			elementImageCaption: BLOCK('image-caption', ['body-h4', 'p-20']),
			elementImage: BLOCK('image', ['mb-32']),
			elementInfo: BLOCK('info', ['d-flex flex-direction-column']),
			elementDescription: BLOCK('description'),
			elementPromoTime: BLOCK('time', ['d-flex wrap-nowrap justify-content-between']),
			elementPromoTimeBlock: BLOCK('time-block', ['d-flex flex-direction-column align-items-center']),
			elementPromoTimeBlockKey: BLOCK('time-block-key'),
			elementPromoTimeBlockValue: BLOCK('time-block-value'),
			elementWeight: BLOCK('weight', ['mb-12']),
			elementCounter: BLOCK('counter'),
			elementFooterButton: BLOCK('footer-button'),
		}
	}
