-
	function classes(cn) {
		const BLOCK = CN('modal-delete-confirmation')

		return {
			block: BLOCK(),
			elementModalBody: BLOCK('modal-body'),
			elementModalClose: BLOCK('modal-close'),
			elementContent: BLOCK('content'),
			elementDeleteCompany: BLOCK('delete-company'),
			elementText: BLOCK('text'),
			elementButtonDelete: BLOCK('button-delete')
		}
	}
