| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
+script('COMPONENTS', 'FilterSelect')
+script('COMPONENTS', 'FilterRange')
+script('COMPONENTS', 'ButtonShowMore')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
+script('SECTIONS', 'ModalProduct')
+script('SECTIONS', 'ModalMap')
+script('SECTIONS', 'FilterItems')
+script('SECTIONS', 'ModalAuth')
