| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
+link('COMPONENTS', 'ButtonCart')
+link('COMPONENTS', 'ButtonAddress')
+link('COMPONENTS', 'ButtonShowMore')
+link('COMPONENTS', 'CardProduct')
+link('COMPONENTS', 'CartItem')
+link('COMPONENTS', 'Chips')
+link('COMPONENTS', 'CardPrice')
+link('COMPONENTS', 'ChipsTag')
+link('COMPONENTS', 'SortSelect')
+link('COMPONENTS', 'FilterSelect')
+link('COMPONENTS', 'HiddenText')
+link('COMPONENTS', 'HiddenList')
+link('COMPONENTS', 'CardProductList')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
| !{HTMLComment('## Секция FilterItems содержит компонент Chips ##')}
+link('SECTIONS', 'FilterItems')

+link('SECTIONS', 'ModalProduct')
+link('SECTIONS', 'ModalMap')
+link('SECTIONS', 'ModalAuth')
