// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.banner-small {
	display: flex;
	align-items: center;
	flex: 1 0;
	gap: 8px;

	min-width: 200px;

	padding: 2px 10px 2px 2px;

	border-radius: 16px;
	background-color: $background-light;

	&__icon-wrap {
		padding: 16px;

		border-radius: 16px;

		background-color: $white;

		@include media(xs) {
			padding: 10px;

			border-radius: 8px;
		}
	}

	&__icon {
		width: 32px;
		height: 32px;

		@include media(xs) {
			width: 24px;
			height: 24px;

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}

	@include media(xs) {
		border-radius: 8px;
	}

	@include no-scrollbar;
}
