-
	function classes(cn) {
		const BLOCK = CN('banner-small')

		return {
			block: BLOCK(),
			elementCard: BLOCK('card'),
			elementCardIconWrap: BLOCK('icon-wrap'),
			elementCardIcon: BLOCK('icon'),
		}
	}
