// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.modal-add-company {
	$self: &;

	&__modal-body {
		border-radius: $br24;
		background-color: $white;

		@include media(xs) {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	&__content {
		width: 525px;
		height: 100%;
		padding: 24px;

		@include media(xs) {
			width: 100%;
			padding: 22px 12px 32px;
		}
	}

	&__form-add-company {
		display: flex;
		flex-direction: column;
		row-gap: 24px;

		@include media(xs) {
			row-gap: 16px;
		}
	}

	&__add-company-heading {
		display: flex;

		align-items: center;
		flex-direction: column;
		justify-content: center;
		row-gap: 14px;
	}
}
