-
	function classes(cn) {
		const BLOCK = CN('cart-item')

		return {
			block: BLOCK(),
			elementPicture: BLOCK('picture'),
			elementImage: BLOCK('image'),
			elementContent: BLOCK('content'),
			elementName: BLOCK('name'),
			elementCounter: BLOCK('counter'),
			elementCount: BLOCK('count'),
			elementCountInfo: BLOCK('count-info'),
			elementPrice: BLOCK('price'),
			elementWeight: BLOCK('weight'),
			elementButtonEmpty: BLOCK('button-empty'),
			elementButtonEmptyIcon: BLOCK('button-empty-icon'),
		}
	}
