mixin ButtonAddress(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ButtonAddress.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	button(class=styles.block type="button")&attributes(attributes)
		+Sprite(DATA('icon'))(class=styles.elementIcon)
		span(class=styles.elementText) !{DATA('text')}
