@import "../../shared/styles/include-setings-styles";

.button-address {
	$self: &;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 16px;
	padding-right: 24px;

	transition: transition();
	letter-spacing: 0.01em;

	color: $black;
	border-radius: 16px;
	background: $background-light;

	font-size: $fs16;
	font-weight: 500;
	line-height: 1;
	column-gap: 8px;

	@include media(xs) {
		padding: 8px;
		padding-right: 16px;

		border-radius: 8px;
		background: $white;
	}

	// stylelint-disable-next-line order/order
	&:disabled {
		cursor: not-allowed;

		color: $gray;
	}

	&:hover:not(:disabled) {
		background-color: $light-gray;
	}

	&__icon {
		flex-shrink: 0;

		width: 32px;
		height: 32px;
	}

	&__text {
		overflow: hidden;

		white-space: nowrap;

		text-overflow: ellipsis;
	}
}
