// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.filter-select {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: 64px;
		padding: 16px 20px;

		cursor: pointer;

		border-radius: 16px;

		background: $background-light;
	}

	&__list {
		position: relative;
		top: -10px;

		display: grid;
		grid-template-rows: 0fr;

		overflow: hidden;

		transition: grid-template-rows 0.4s;

		padding-inline: 20px;

		border-radius: 0 0 16px 16px;

		background: $background-light;

		@include media(md) {
			border-radius: 0;
		}
	}

	&__animation {
		min-height: 0;
	}

	&__button-show-more {
		margin-bottom: 22px;

		@include media(md) {
			margin-top: 16px;
			margin-bottom: 0;
		}
	}

	&__checkbox-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 18px;

		max-height: 532px;

		margin-top: 12px;
		margin-bottom: 18px;

		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $gray;
		}

		@include media(md) {
			margin-bottom: 0;
		}
	}

	&__checkbox {
		.checkbox__box {
			background: hsl(0deg 0% 92% / 1);
		}
	}

	&__icon {
		flex: 0 0 auto;

		width: 20px;
		height: 20px;

		transition: transition();
	}
}

.js-filter-select-show {
	.filter-select {
		&__body {
			border-radius: 16px 16px 0 0;
		}

		&__icon {
			transform: rotate(180deg);
		}

		&__list {
			grid-template-rows: 1fr;
		}
	}
}

.js-filter-all-checkboxes-show {
	.filter-select {
		&__checkbox-wrapper {
			overflow-y: scroll;

			max-height: 532px;
		}
	}
}
