-
	function classes(cn) {
		const BLOCK = CN('filter-select')

		return {
			block: BLOCK(),
			elementBody: BLOCK('body'),
			elementIcon: BLOCK('icon'),
			elementList: BLOCK('list'),
			elementCheckbox: BLOCK('checkbox'),
			elementCheckboxWrapper: BLOCK('checkbox-wrapper'),
			elementAnimation: BLOCK('animation'),
			elementButtonShowMore: BLOCK('button-show-more'),
		}
	}
