// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../styles/include-setings-styles";

.bread-crumbs {
	$self: &;

	display: flex;
	align-items: center;

	margin-bottom: 40px;

	column-gap: 12px;

	&__icon {
		width: 24px;
		height: 24px;

		transition: transition();

		color: $red;

		@include media(xs) {
			width: 16px;
			height: 16px;
		}
	}

	&__link {
		position: relative;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 40px;
		height: 40px;

		&:hover {
			right: 3px;
		}
	}

	@include media(xs) {
		column-gap: 16px;
	}
}
