mixin BreadCrumbs(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include BreadCrumbs.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)
		a(href="#" class=styles.elementLink)
			+Sprite('arrow-left')(class=styles.elementIcon)
		+Heading(ELEM('Heading'))&attributes(attributes)
