-
	const OrdersHistory = {
		includeSection: 'OrdersHistory',
		elem: {
			Pagination: {
				elem: {
					PaginationButtonArr: [
						{
							data: {
								href: '/api/lk-orders-history-pagination/1'
							},
							elem: {
								Text: {
									data: {
										text: '1',
									},
									cn: {
										size: 'body-l-m',
									}
								}
							}
						},
						{
							data: {
								href: '/api/lk-orders-history-pagination/2'
							},
							elem: {
								Text: {
									data: {
										text: '2',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '3',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '4',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '5',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '6',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '7',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
						{
							data: {
								href: '/api/catalogPagination/'
							},
							elem: {
								Text: {
									data: {
										text: '8',
									},
									cn: {
										size: 'body-l-m',
										color: 'gray'
									}
								}
							}
						},
					]
				}
			},
			LoadMoreButton: {
				data: {
					text: 'показать ещё',
					href: '/api/lk-orders-history',
				},
				cn: {
					color: 'secondary',
					width: 'w-100',
					justifyContent: 'justify-content-center'
				}
			},
			OrderArr: [
				{
					elem:{
						TextMonth: {
							data: {
								text: 'Февраль 2024'
							},
							cn: {
								size: 'body-l-m',
								color: 'gray'
							}
						},
						CardOrderHistoryArr: [
							{
								dataArr: {
									CardOrderHistoryPictureArr: [
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
									],
								},
								elem: {
									TextDate: {
										data: {
											text: '24 февраля в 17:45'
										},
										cn: {
											size: 'body-h3',
										}
									},
									TextPrice: {
										data: {
											text: '1286 ₽'
										},
										cn: {
											size: 'caption',
										}
									},
									TextAddress: {
										data: {
											text: 'Социалистическая улица,12'
										},
										cn: {
											size: 'caption',
											color: 'gray',
										}
									}
								}
							},
							{
								dataArr: {
									CardOrderHistoryPictureArr: [
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
									],
								},
								elem: {
									TextDate: {
										data: {
											text: '24 февраля в 17:45'
										},
										cn: {
											size: 'body-h3',
										}
									},
									TextPrice: {
										data: {
											text: '1286 ₽'
										},
										cn: {
											size: 'caption',
										}
									},
									TextAddress: {
										data: {
											text: 'Социалистическая улица,12'
										},
										cn: {
											size: 'caption',
											color: 'gray',
										}
									}
								}
							}
						]
					}
				},
				{
					elem: {
						TextMonth: {
							data: {
								text: 'Январь 2024'
							},
							cn: {
								size: 'body-l-m',
								color: 'gray'
							}
						},
						CardOrderHistoryArr: [
							{
								dataArr: {
									CardOrderHistoryPictureArr: [
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
										{
											data: {
												img: './assets/img/components/card-order/order-img.png',
											}
										},
									],
								},
								elem: {
									TextDate: {
										data: {
											text: '24 февраля в 17:45'
										},
										cn: {
											size: 'body-h3',
										}
									},
									TextPrice: {
										data: {
											text: '1286 ₽'
										},
										cn: {
											size: 'caption',
										}
									},
									TextAddress: {
										data: {
											text: 'Социалистическая улица,12'
										},
										cn: {
											size: 'caption',
											color: 'gray',
										}
									}
								}
							}
						]
					}
				}
			]
		}
	}
