-
	function classes(cn) {
		const BLOCK = CN('modal-map-static')

		return {
			block: BLOCK(),
			elementModalClose: BLOCK('modal-close'),
			elementModalBody: BLOCK('modal-body'),
			elementHeader: BLOCK('header'),
			elementMap: BLOCK('map'),
			elementImage: BLOCK('image')
		}
	}
