| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
+script('COMPONENTS', 'MenuLk')
+script('COMPONENTS', 'TotalCheckAmount')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
+script('SECTIONS', 'ModalBuyInOne')
