| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
+link('COMPONENTS', 'MenuLk')
+link('COMPONENTS', 'TotalCheckAmount')
+link('COMPONENTS', 'ArticleList')
+link('COMPONENTS', 'CardProduct')
+link('COMPONENTS', 'CardProductCounter')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
+link('SECTIONS', 'OrderDetailed')
+link('SECTIONS', 'ModalBuyInOne')
