-
	function classes(cn) {
		const BLOCK = CN('modal-feedback')

		return {
			block: BLOCK(),
			elementModalBody: BLOCK('modal-body'),
			elementModalClose: BLOCK('modal-close'),
			elementContent: BLOCK('content'),
			elementMain: BLOCK('main'),
			elementMainHeader: BLOCK('main-header'),
			elementText: BLOCK('text'),
			elementFormContent: BLOCK('form-content'),
			elementTextArea: BLOCK('text-area'),
			elementButton: BLOCK ('button'),
			elementSuccess: BLOCK('success'),
			elementError: BLOCK('error'),
			elementErrorHeading: BLOCK('error-heading'),
			elementBackButton: BLOCK('back-button'),
		}
	}
