include MainBanners/MainBanners
include SmallBanners/SmallBanners
include Promo/Promo
include Delivery/Delivery
include SectionCardProductHeading/SectionCardProductHeading
include Zone/Zone
include FilterItems/FilterItems
include ModalProduct/ModalProduct
include ModalMap/ModalMap
include Profile/Profile
include OrdersHistory/OrdersHistory
include OrderDetailed/OrderDetailed
include ModalChangeData/ModalChangeData
include ModalAuth/ModalAuth
include ModalAuth/components/MACode/MACode
include ModalAuth/components/MALogin/MALogin
include ModalAuth/components/MAPassChange/MAPassChange
include ModalAuth/components/MAPassRecovery/MAPassRecovery
include ModalAuth/components/MAPassSuccess/MAPassSuccess
include ModalAuth/components/MASignUp/MASignUp
include ModalAuth/components/MASuccess/MASuccess
include ModalBuyInOne/ModalBuyInOne
include HeadingSection/HeadingSection
include CompanyInfo/CompanyInfo
include ModalAddCompany/ModalAddCompany
include ModalDeleteConfirmation/ModalDeleteConfirmation
include ErrorMessage/ErrorMessage
include ModalMapStatic/ModalMapStatic
include ModalFeedback/ModalFeedback
