//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
-
	const PAGE_TITLE = 'Ваша компания';
	const IS_PAGE_SVG_SPRITE = true;
	// переменные для MainLayout
	const LAYOUT_LEFT_COL_PROPS = { cn: { cols: 'col-6' }};
	const LAYOUT_LEFT_SIDE_COMPONENT = 'MenuLk';
	const NEED_EMPTY_RIGHT_COL = true;

//- # ПЕРЕМЕННЫЕ ДЛЯ ПЕРЕОПРЕДЕЛЕНИЯ FEATURES # -//
-
	const Header = {
		elem: {
			ButtonBox: false,
			ButtonSignIn: {
				data: {
					text: 'Личный кабинет',
					icon: 'user',
					dataModalForm: 'auth',
				},
				cn: {
					color: 'secondary'
				}
			},
			PersonalAccountMenu: true,
		}
	}

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
- const PAGE_STORE = addSections();

//- ## Подключение store секции HeadingSection ## -//
include lk-your-company--heading-section
- PAGE_STORE.addSection(HeadingSection);

//- ## Подключение store секции CompanyInfo ## -//
include lk-your-company--company-info
- PAGE_STORE.addSection(CompanyInfo);

//- ## Подключение store секции ModalChangeData ## -//
include lk-your-company--modal-change-data
- PAGE_STORE.addSection(ModalChangeData);

//- ## Подключение store секции ModalAddCompany ## -//
include lk-your-company--modal-add-company
- PAGE_STORE.addSection(ModalAddCompany);

//- ## Подключение store секции ModalDeleteConfirmation ## -//
include lk-your-company--modal-delete-confirmation
- PAGE_STORE.addSection(ModalDeleteConfirmation);

//- ## Подключение store секции ModalFeedback ## -//
include lk-your-company--modal-feedback
- PAGE_STORE.addSection(ModalFeedback);
