-
	const ModalAddCompany = {
		includeContent: 'ModalAddCompany',
		elem: {
			InputInn: {
				data: {
					dataUrl: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party',
				},
				elem: {
					Input: {
						data: {
							type: 'text',
							name: 'inn',
							validationType: 'inn',
						},
						elem: {
							TextLabel: {
								data: {
									tag: 'span',
									text: 'ИНН',
								},
								cn: {
									color: 'gray',
								}
							},
							TextError: {
								data: {
									tag: 'span',
									text: 'Введите корректный ИНН',
								},
								cn: {
									size: 'caption',
									color: 'red',
								}
							},
						},
						opt: {
							disabled: false,
							required: true,
						}
					}
				}
			},
			Modal: {
				data: {
					dataModal: 'add-company',
				},
			},
		}
	}
