mixin HiddenList(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include HiddenList.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)
		+Text({ data: { text: 'Информация о товаре' }, cn: { size: 'body-h4' } })
		div(class=styles.elementList data-hidden-list)
			for item in ELEM_ARR('ListItemArr')
				include ../../shared/helpers/pug/shortcut-check-store
				div(class=styles.elementListItem)
					+Text(I_ELEM('TextInfoName'))(class=styles.elementTextInfoName)
					+Text(I_ELEM('TextInfo'))
		+ButtonShowMore({
			data: {
				text: 'Все характеристики'
			},
			cn: {
				margin: 'mt-16'
			}
		})
