-
	function classes(cn) {
		const BLOCK = CN('hidden-list')

		return {
			block: BLOCK(),
			elementList: BLOCK('list'),
			elementListItem: BLOCK('list-item'),
			elementTextInfoName: BLOCK('text-info-name'),
		}
	}
