// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.hidden-list {
	display: flex;
	flex-direction: column;

	row-gap: 16px;

	&__list {
		display: flex;
		flex-direction: column;

		row-gap: 12px;
	}

	&__list-item {
		display: flex;
		justify-content: space-between;

		padding-bottom: 12px;

		border-bottom: 1px solid $background-gray;
	}

	&__text-info-name {
		@include media(xs){
			max-width: 142px;
		}
	}
}

.js-show-hidden-text {
	-webkit-box-orient: horizontal;
}