mixin SVGSprite
	include SVGUse

	svg(class="d-none" xmlns="http://www.w3.org/2000/svg")
		include include-symbol/arrow-down
		include include-symbol/search
		include include-symbol/search-clear
		include include-symbol/minus
		include include-symbol/plus
