-
	function classes(cn) {
		const BLOCK = CN('sort-select')

		return {
			block: BLOCK(),
			elementHeader: BLOCK('header'),
			elementHeaderText: BLOCK('header-text'),
			elementCloseButton: BLOCK('close-button'),
			elementBody: BLOCK('body'),
			elementIcon: BLOCK('icon'),
			elementList: BLOCK('list'),
			elementItem: BLOCK('item'),
		}
	}
