mixin HiddenText(props)
	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include HiddenText.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block)
		+Text({ data: { text: 'Описание' }, cn: { size: 'body-h4' } })
		+Text({
			data: {
				text: `Состав: изготовлен из молока нормализованного пастеризованного с использованием закваски,
				состоящей из термофильных молочнокислых стрептококков и болгарской молочнокислой палочки.
				Может содержать следы глютена, ореха. Количество молочнокислых микроорганизмов, КОЕ-в 1 г продукта, не менее 1×10(7).
				Допускается отделение сыворотки. Пищевая ценность 100 г продукта (средние значения): белки — 8 г, жиры — 2 г, углеводы — 4,2 г.
				Энергетическая ценность (калорийность): 281,4 кДж/ 66,8 ккал.
				Условия хранения: хранить при температуре воздуха от 2 С до 6 С.
				Страна производства: Беларусь.`
			},
			cn: { size: 'body-l-m' }
		})(class=styles.elementText data-hidden-text)
		+ButtonShowMore({
			data: {
				text: 'Полное описание'
			},
			cn: {
				margin: 'mt-16'
			}
		})
