// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.hidden-text {
	display: flex;
	flex-direction: column;

	row-gap: 16px;
}

.js-hide-text {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;

	overflow: hidden;
}
