| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ COMPONENTS #')}
+link('COMPONENTS', 'MenuLk')
+link('COMPONENTS', 'ArticleList')
+link('COMPONENTS', 'CompanyTagList')
+link('COMPONENTS', 'ButtonShowMore')
+link('COMPONENTS', 'PersonalAccountMenu')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ СSS ДЛЯ SECTIONS #')}
+link('SECTIONS', 'CompanyInfo')

+link('SECTIONS', 'ModalChangeData')
+link('SECTIONS', 'ModalAddCompany')
+link('SECTIONS', 'ModalDeleteConfirmation')
+link('SECTIONS', 'ModalFeedback')
