| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
+script('COMPONENTS', 'MenuLk')
+script('COMPONENTS', 'PersonalAccountMenu')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
+script('SECTIONS', 'ModalChangeData')
+script('SECTIONS', 'ModalAddCompany')
+script('SECTIONS', 'ModalDeleteConfirmation')
+script('SECTIONS', 'ModalFeedback')
+script('SECTIONS', 'CompanyInfo')
