-
	function classes(cn) {
		const BLOCK = CN('card-price')

		return {
			block: BLOCK(),
			elementShortInfo: BLOCK('short-info'),
			elementCount: BLOCK('count'),
			elementCountIcon: BLOCK('count-icon'),
			elementFooter: BLOCK('footer'),
			elementPrice: BLOCK('price'),
			elementFooterButton: BLOCK('footer-button'),
			elementButtonMinus: BLOCK('button-minus'),
			elementInput: BLOCK('input'),
			elementButtonPlus: BLOCK('button-plus'),
			elementAddButton: BLOCK('add-button'),
		}
	}
