| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
+script('COMPONENTS', 'FilterSelect')
+script('COMPONENTS', 'FilterRange')
//+script('COMPONENTS', 'ButtonShowMore')

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
+script('SECTIONS', 'ModalProduct')
+script('SECTIONS', 'ModalMap')
+script('SECTIONS', 'FilterItems')
+script('SECTIONS', 'ModalAuth')
+script('SECTIONS', 'ModalBuyInOne')

script(src="https://api-maps.yandex.ru/v3/?apikey=88820c2c-62bd-499b-a90c-1dacf597a017&lang=ru_RU")
