@import "../../shared/styles/include-setings-styles";

.cookies {
	$self: &;

	position: fixed;
	z-index: 10;

	bottom: 40px;
	left: 40px;

	display: flex;
	flex-direction: column;

	width: 477px;

	padding: 16px;

	border-radius: 16px;

	background-color: $white;

	box-shadow: 0 2px 10px $shadow-dark;
	row-gap: 24px;

	&__button {
		width: 156px;
		height: 48px;
	}

	@include media(md) {
		bottom: 32px;
		left: 32px;
	}

	@include media(xs) {
		bottom: 0;

		width: 100%;

		text-align: center;

		border-radius: 16px 16px 0 0;
		row-gap: 16px;

		#{$self}__button {
			width: 100%;
		}
	}
}
