-
	const Cookies = {
		elem: {
			Text: {
				cn: { size: 'bpdy-m-m' },
				data: { text: "Мы использует cookie-файлы с целью персонализации сервисов и повышения удобства пользования веб-сайтом. Продолжая использовать наш сайт, вы даёте согласие на обработку файлов cookie. Если вы не хотите использовать файлы cookie, измените настройки браузера" }
			},
			Button: {
				data: {
					text: 'Понятно'
				}
			}
		}
	}
