mixin Cookies(props)
	//- # ПОДКЛЮЧЕНИЕ СТАТИЧНОГО STORE ДЛЯ FILTERS # -//
	include Cookies.store.pug
	//- # ФУНКЦИОНАЛ ДЛЯ ПЕРЕОПРЕДЕЛЕНИЯ СТАТИЧНОГО STORE СО STORE СТРАНИЦЫ # -//
	- props = deepMerge(Cookies, props);

	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include Cookies.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	div(class=styles.block data-api-url="api/url")
		+Text(ELEM('Text'))
		+Button(ELEM('Button'))(Button = {class: styles.elementButton})
