-
	function classes(cn) {
		const BLOCK = CN('ma-code')

		return {
			block: BLOCK(),
			elementHeading: BLOCK('heading'),
			elementText: BLOCK('text'),
			elementInputOtp: BLOCK('input-otp'),
			elementButton: BLOCK('button'),
			elementCaption: BLOCK('caption'),
		}
	}
