.ma-code {
	$self: &;

	display: flex;
	flex-direction: column;

	&__heading {
		margin-bottom: 12px;
		padding-inline: 64px;

		@include media(xs) {
			margin-bottom: 16px;
		}
	}

	&__text {
		margin-bottom: 24px;
		padding-inline: 42px;

		@include media(xs) {
			margin-bottom: 16px;
			padding-inline: 0;
		}
	}

	&__input-otp {
		margin-bottom: 24px;

		@include media(xs) {
			margin-bottom: 16px;
		}
	}

	&__button {
		width: 100%;

		@include media(xs) {
			padding-inline: 0;
		}
	}

	&__button + &__button {
		margin-top: 8px;

		@include media(xs) {
			margin-top: 4px;
		}
	}

	&__caption {
		margin-top: 24px;

		@include media(xs) {
			margin-top: 16px;
		}

		// stylelint-disable-next-line order/order
		a {
			text-decoration: none;
		}
	}
}
