-
	function classes(cn) {
		const BLOCK = CN('input-inn');

		return {
			block: BLOCK(),
			elementList: BLOCK('list'),
			elementListWrapper: BLOCK('list-wrapper'),
			elementItem: BLOCK('item'),
			elementItemInfo: BLOCK('item-info'),
		}
	}
