.input-inn {
	$self: &;

	position: relative;

	&__list {
		position: absolute;
		top: 64px;
		right: 0;
		left: 0;

		height: 0;
		margin-top: 4px;
		padding-inline: 4px;

		transition: transition();

		border-radius: 16px;

		background: $white;
		box-shadow: 0 2px 10px hsl(0deg 0% 0% / 0.05);

		@include media(xs) {
			top: 48px;
		}
	}

	&__list-wrapper {
		overflow-y: auto;

		height: 100%;

		&::-webkit-scrollbar {
			width: 2px;
		}

		&::-webkit-scrollbar-track {
			margin-block: 24px;

			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background: $gray;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 8px;

		padding: 12px 18px;

		cursor: pointer;

		border-radius: 16px;
	}

	&__item-info {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	&__item-digits {
		display: flex;
		flex-wrap: wrap;
		gap: 4px 8px;
	}

	.js-show.input-inn__list {
		z-index: 1;

		height: 108px;
		padding: 4px;

		@include media(xs) {
			height: 124px;
		}
	}

	.js-active.input-inn__item {
		background: $background-light;
	}
}
