-
	function classes(cn) {
		const BLOCK = CN('orders-history')

		return {
			block: BLOCK(),
			elementOrders: BLOCK('orders'),
			elementMonth: BLOCK('month'),
			elementPaginationWrapper: BLOCK('pagination-wrapper'),
		}
	}
