// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";

.orders-history {
	$self: &;

	&__orders {
		display: flex;
		flex-direction: column;
		row-gap: 32px;
	}

	&__month {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
	}

	&__pagination-wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;

		row-gap: 24px;

		max-width: 456px;

		@include media(md) {
			max-width: unset;
		}
	}
}
