mixin ModalAuth(props)
	//- # ПОДКЛЮЧЕНИЕ СТАТИЧНОГО STORE ДЛЯ CART # -//
	//- include ModalAuth.store.pug

	//- # ФУНКЦИОНАЛ ДЛЯ ПЕРЕОПРЕДЕЛЕНИЯ СТАТИЧНОГО STORE СО STORE СТРАНИЦЫ # -//
	- props = deepMerge(ModalAuth, props);

	//- # ПОДКЛЮЧЕНИЕ ДЛЯ ПРОВЕРОК DATA, OPT, ELEM # -//
	include ../../shared/helpers/pug/shortcut-check-store

	//- # ПОЛУЧЕНИЕ CSS КЛАССОВ КОМПОНЕНТА # -//
	include ModalAuth.cn.pug
	- const styles = classes(props && props.cn);

	//- # ВЕРСТКА КОМПОНЕНТА # -//
	+Modal(ELEM('Modal'))(class=styles.block)
		+ModalBody(class=styles.elementModalBody)
			+ModalCloseButton
			div(class=styles.elementContent)
				+MALogin(ELEM('MALogin'))
				+MACode(ELEM('MACode'))(class="d-none")
				+MAPassChange(ELEM('MAPassChange'))(class="d-none")
				+MAPassRecovery(ELEM('MAPassRecovery'))(class="d-none")
				+MAPassSuccess(ELEM('MAPassSuccess'))(class="d-none")
				+MASignUp(ELEM('MASignUp'))(class="d-none")
				+MASuccess(ELEM('MASuccess'))(class="d-none")
