// # ------------ LAYER SETTINGS and LAYER TOOLS------------ # //
@import "../../shared/styles/include-setings-styles";
@import "./components/MACode/MACode.scss";
@import "./components/MALogin/MALogin.scss";
@import "./components/MAPassChange/MAPassChange.scss";
@import "./components/MAPassRecovery/MAPassRecovery.scss";
@import "./components/MAPassSuccess/MAPassSuccess.scss";
@import "./components/MASignUp/MASignUp.scss";
@import "./components/MASuccess/MASuccess.scss";

.modal-auth {
	$self: &;

	&__modal-body {
		border-radius: $br24;
		background-color: $white;
	}

	&__content {
		width: 525px;
		height: 100%;
		padding: 32px 24px 24px;

		@include media(xs) {
			width: 100%;
			padding: 22px 12px 32px;
		}
	}

	&__error {
		display: block;

		margin-left: 22px;
		margin-block: 5px;

		@include media(xs) {
			margin-left: 16px;
		}
	}
}
