// # ПАРАМЕТРЫ ПОДКЛЮЧЕНИЯ ШРИФТОВ # //

// --------------------------------------FiraSans------------------------------------------------- //

// ## определение пути к подключаемому шрифту ## //
$include-font-path: "FONTS/FiraSans/";
// ## определение типов подключаемых шрифтов ## //
$include-font-types: ("woff2": "woff2");
// ## определение имени шрифта для вызова в проекте ## //
$include-font-family: "FiraSans";

// # ВЫЗОВ МИКСИНА ПОДКЛЮЧЕНИЯ ШРИФТОВ # //
@include includeFont("FiraSans-Medium", 500);
@include includeFont("FiraSans-Bold", 700);

// --------------------------------------Montserrat------------------------------------------------- //

// ## определение пути к подключаемому шрифту ## //
$include-font-path: "FONTS/Montserrat/";
// ## определение типов подключаемых шрифтов ## //
$include-font-types: ("woff2": "woff2");
// ## определение имени шрифта для вызова в проекте ## //
$include-font-family: "Montserrat";

// # ВЫЗОВ МИКСИНА ПОДКЛЮЧЕНИЯ ШРИФТОВ # //
@include includeFont("Montserrat-Bold", 700);
